<p>Dear <%= @borrower.first_name %>,</p>

<p>Congratulations! Your loan application has been approved. The current status of your loan is <strong><%= @status %></strong>.</p>

<p>We will notify you once the loan is funded.</p>

<p>Thank you for choosing us.</p>
