<p>Dear <%= @borrower.first_name %>,</p>

<p>Your loan application has been submitted successfully. The current status of your application is <strong><%= @status %></strong>.</p>

<p>We will notify you once there is an update on your application.</p>

<p>Thank you for choosing us.</p>
