<h3>Your Password Has Been Reset</h3>

<p>Hi <%= @user.first_name.presence || "there" %>,</p>

<p>Your password has been successfully reset. You can now log in using your new password.</p>

<p>Thank you,  
<br><strong>The BorrowBuddy Team</strong></p>
