<h3>Welcome, <%= @user.first_name %>, to BorrowBuddy!</h3>  

<p>Your One-Time Password (OTP) is: <strong><%= @otp %></strong></p>  

<p>Please use this OTP to complete your verification. This code is valid for 10 minutes.</p>  

<p>If you did not request this OTP, please ignore this message.</p>  

<p>Thank you,  
<br>BorrowBuddy Team</p>
